* {
    margin: 0;
    padding: 0;
}

body {
    background: url('cartoon-jungle-landscape-on-snowy-mountains-background.jpg');
    background-size: cover;
    
}

h1 {

    font-family: 'Grandstander', cursive;
    font-size: 120px;
    transform: rotate(-5deg);
    -webkit-text-stroke: 5px #222;
    background: rgb(245, 223, 96);
    background: linear-gradient(180deg, rgba(245, 223, 96, 1) 0%, rgba(255, 169, 82, 1) 100%);
    -webkit-background-clip: text;
    color: rgba(255, 228, 196, 0);
    transition: 0.5s;

}
h2{
    font-family: 'Grandstander', cursive;
    font-size: 40px;
    white-space: normal;
    margin-bottom: 40px;
    opacity: 0;
    display: none;
    transition: 0.5s;

}

a {
    font-family: 'Grandstander', cursive;
    font-size: 20px;
    border: 5px solid #222;
    padding: 10px 30px;
    color: #222;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    display: inline-block;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(221, 255, 205, 1) 50%, rgba(197, 255, 170, 1) 75%, rgba(221, 255, 205, 1) 100%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: 0.3s;
    

}
.buttons a{
    border: 5px solid rgba(34, 34, 34, 0.5);

    background: rgb(247, 247, 180) ;
    width: calc(50% - 10px) ;
    box-sizing: border-box;
    margin: 5px;
    transition: 0.5s;
}
.buttons a:hover{
    filter: hue-rotate(45deg);
    border: 5px solid #222;

}
.buttons{
    display: none;
    white-space: normal;
    font-size: 0;
    opacity: 0;
    transition: 0.5s;
}

a:hover {
    background-position: top;
}

form {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}